version: '3'
services:
  postgres_db:
    container_name: "postgres_db"
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=pguser
      - POSTGRES_PASSWORD=pgpass
      - POSTGRES_DB=my_database
    volumes:
      - ./database_data:/var/lib/postgresql/data
  client-nginx:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes: # This is where the magic happens!
      - ./client/.nginx/nginx.conf:/etc/nginx/nginx.conf
#      - /usr/src/client/node_modules/
#      - ./build:/usr/src/client/build
  server:
    depends_on:
      - postgres_db
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    restart: always
    command: npm start
    environment:
      - EXTERNAL_PORT=5000
      - PGDATABASE=my_database
      - PGUSER=pguser
      - PGPASSWORD=pgpass
      - PGHOST=postgres_db
      - SECRET_KEY=somestring